body {
  background: #111111;
}

h1 {
  margin: 0;
}

.dashboard-container {
  background: #111111;
  color: #fff;
  padding: 0;
  width: auto;
  height: -webkit-fill-available;
  padding: 16px;
  /* 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto; 
  */
}

.db-top-contents .db-bigtitle, .db-branch-dropdown{
  font-weight: 600;
  color: #fff;
}

.db-top-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.db-branch-text {
  font-size: 15px;
  font-weight: 300;
  margin: 4px;
}

.top-three-contents {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.dashboard-container__graph-container {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr;
  gap: 20px;
  height: 335px;
  width: 100%;
  margin-bottom: 32px;
}