.dashboard-contents {
  width: auto;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.top-three-contents {
  display: grid;
  grid-template-columns: 0.48fr 0.5fr 1fr;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dashboard-container__graph-container {
  display: grid;
  grid-template-columns: minmax(0, 2.07fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 20px;
  height: auto;
  width: 100%;
}

.todays-sales__top-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: auto;
  width: 100%;
}