/* Loading.css */

body {
  background: #f8fafc !important;
  color: #0f172a;
}

.loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

.loading-container .loading-text {
  font-size: 24px;
  font-weight: 500;
  margin: 1%;
  color: #0f172a;
}