.todays-sales-container {
    background-color: #111111;
    width: fit-content; 
    height: auto;  
    border-radius: 16px;
    border: 3px solid #ffffff81;
    padding: 20px;
}

.todays-sales-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.todays-sales-label {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff89;
    padding-left: 30px;
}

.todays-sales-content {
    display: flex;
    gap: 20px;
}
