body {
  background: #111111;
}

h1 {
  margin: 0;
}

.vm-container {
  width: auto;
  height: 100%;
  background: #111111;
  padding: 16px;
  box-sizing: border-box;
}

.vm-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.vm-header .vm-sentence {
  padding-top: 2%;
  bottom: 0;
  font-size: 12px;
  font-weight: 200;
}

.vm-top-contents .vm-bigtitle {
  font-weight: 600;
  color: #fff;
}

.vm-top-contents {
  height: 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}