.stocks-container {
    background-color: #FFE8A3;
    width: 180px;
    height: 100%;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stocks-label {
    font-family: 'Segoe UI', system-ui, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}
.stocks-amount {
    font-family: 'Segoe UI', system-ui, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #333;
}
.stocks-change {
    font-family: 'Segoe UI', system-ui, sans-serif;
    font-size: 12px;
    color: #2f33ec;
}

.stocks-icon {
    width: 60px;
    height: 60px;
}