body {
  background: #111111;
}

h1 {
  margin: 0;
}

.inventory-container {
  width: auto;
  height: 100%;
  background: #111111;
}

.top-contents .bigtitle, .branch-dropdown{
  font-weight: 600;
  color: #fff;
  padding-top: 20px;
}

.top-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.branch-text {
  font-size: 15px;
  font-weight: 300;
  margin: 4px;
}