.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.541);
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    color: white;
}

/* yo palagyan nga opacity yung background tas pa center narin 
    nauuna yung sidebar may kinalaman ata zindex
*/
/* .tr-addfile-container:has(input[type="file"]:valid) ~ .modal-child,
.modal-child:has(.tr-addfile-container input:valid) {
    height: 61% !important;
    overflow-y: auto;
} */



.tr-addfile-container:has(img) .tr-addfile-details {
    padding: 0 !important;
}

.modal-child:has(.tr-addfile-container img) {
    height: 60% !important;
    overflow-y: auto;
    width: 60% !important;
}


.modal-child {
    width: auto;
    height: auto;
    background-color: #1C1C1E;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-p-h {
    font-weight: 200;
}

.modal-p-sh {
    font-weight: 200;
    color: #686869;
    margin-top: 0;
}

.modal-p-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* MODAL CONFIRM */

.modal-container-confirm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    color: white;
}

.modal-check-confirm {
    width: 450px;
    height: auto;
    background-color: #1C1C1E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.modal-confirm-green-circle {
    background-color: #22C55E;
    border-radius: 100%;
    padding: 10px;
}

.modal-confirm-header {
    font-weight: 200;
}