.tp-container {
  border-radius: 16px;
  border: 1px solid #404040;
  padding: 15px;
}

.tp-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.tp-table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

.tp-table th, .tp-table td {
  padding: 18px 0;
  font-weight: 400;
  border-bottom: 1px solid #ffffff81;
  text-align: left;
}

.tp-table th {
  font-size: 15px;
  font-weight: 100;
}
