body {
  margin: 0;
}

.sidebar-container {
  width: auto;
  height: 100%;
  background: #1C1C1E;
  display: flex;
  color: #FFFFFF;
}

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.children {
  width: 100%;
}

.sidebar-list .row {
  width: 100%;
  height: auto; 
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-list .row a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding: 12%;
}

.sidebar-list .row .sb-icon {
  display: flex;
  align-items: center;
}

.sidebar-list .row .sb-title {
  font-size: 16px;
}

.sidebar-list .row:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}

#active {
  background: rgba(255, 255, 255, 0.1);
  .sb-icon {
    border-left: #ff0000 solid 4px;
    padding-left: 5%;
  }
}

.logo {
  width: 212px;
  height: 212px;
  position: relative;
  padding: 14px;
}

.user-panel {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  padding: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-panel .userName {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

.user-panel .userRole {
  font-size: 14px;
  font-weight: 100;
  margin: 0 0 8px 0;
  padding-top: 0;
}

.user-panel .userName, .user-panel .userRole {
  margin-left: 1px;
}

.user-panel .logout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  width: 66px;
  height: 30px;
  background: rgb(164, 0, 0);
  flex: none;
}

.user-panel .logout-button:hover {
  cursor: pointer;
  background: rgba(197, 34, 34, 1);
}