.bm-container {
    width: auto;
    height: 100%;
    background: #111111;
    padding: 25px;
    box-sizing: border-box;
}

.branches-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 5px solid #222222;
}

.tr-radio-container {
  display: flex;
  flex-direction: row;
}

.tr-radio-container label {
  padding-right: 40px;
}

.bm-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bm-header .bm-sentence {
  padding-top: 1%;
  bottom: 0;
  font-size: 12px;
  font-weight: 200;
}

.bm-top-contents .bm-bigtitle {
  font-weight: 600;
  color: #fff;
}

.bm-top-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.branches-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 1.5em;
    row-gap: 15px;
}