body {
  background: #111111;
}

h1 {
  margin: 0;
}

.bm-container {
  width: auto;
  height: 100%;
  background: #111111;
  padding: 16px;
  box-sizing: border-box;
}

.bm-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bm-header .bm-sentence {
  padding-top: 2%;
  bottom: 0;
  font-size: 12px;
  font-weight: 200;
}

.bm-top-contents .bm-bigtitle {
  font-weight: 600;
  color: #fff;
}

.bm-top-contents {
  height: 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.branches-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  border-bottom: 5px solid #222222;
}

/* .tr-radio-container {
  display: flex;
  flex-direction: row;
}

.tr-radio-container label {
  padding-right: 40px;
} */

.branches-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 8em;
    row-gap: 20px;
}