.branch-card-container {
    padding: 15px;
    background-color: #242426;
    border-radius: 16px;
    position: relative;
    transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
}

.branch-card-details {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.branch-card-header {
    font-size: 28px;
    font-weight: 200;
    margin: 0;
    overflow-wrap: break-word;
}

.branch-card-button-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

.branch-card-clerk {
    margin: 0px;
    font-size: small;
    font-weight: 100;
}

.branch-card-clerk-header {
    font-weight: 200;
    margin: 0px;
}

.branch-card-container.active {
    border: 1px solid #00FF5E;
}

.branch-card-container.active::before{
    content: "•";
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 50px;
    color: #00FF5E;
}

.branch-card-container.offline::before{
    content: "•";
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 50px;
    color: #ffffff7a;
}

.branch-card-container.offline {
    border: 1px solid #FFFFFF;
}

.branch-card-container:hover {
    transform: scale(1.02) ;
    cursor: pointer;
}