.branch-card-container {
    padding: 15px;
    background-color: #242426;
    border-radius: 16px;
    position: relative;
}

.branch-card-header{
    font-weight: 200;
    margin: 0;
}

.branch-card-button-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.branch-card-clerk {
    margin: 0px;
    font-size: small;
    font-weight: 100;
}

.branch-card-clerk-header {
    font-weight: 200;
    margin: 0px;
}

.branch-card-container.active {
    border: 1px solid #00FF5E;
}

.branch-card-container.active::before{
    content: "•";
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 50px;
    color: #00FF5E;
}

.branch-card-container.offline::before{
    content: "•";
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 50px;
    color: #ffffff7a;
}

.branch-card-container.offline {
    border: 1px solid #FFFFFF;
}