.tr-dropdown-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tr-dropdown {
    background-color: transparent;
    color: white;
    height: 44px;
    border-radius: 8px;
    border: 2px solid #404040;
}

.tr-dropdown:disabled {
    background-color: #2e2e2e;
    color: #aaaaaa;
    border-color: #404040;
    cursor: not-allowed;
}

.tr-dropdown-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 16px;
    height: 16px;
}

.tr-dropdown {
    padding-left: 28px;
}

.tr-options {
    background-color: #111111;
    border: #404040;
}