.bc-container {
  width: auto;
  height: auto;
  color: #fff;
  border: 1px solid #404040;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  position: relative;
}

.bc-title {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-left: 2%;
}