.bc-container {
  width: auto;
  height: auto;
  color: #fff;
  border: 5px solid #404040;
  border-radius: 10px;
  position: relative;
}

.bc-title {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-left: 2%;
}